/* css reset */

html {
  box-sizing: border-box;
  font-size: 16px;
  background-color: #2a2d2f;
  color: #fffcfc;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* font stylings */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto", sans-serif;
  font-weight: 600;
}

body,
p,
ol,
ul {
  font-family: "Nunito", sans-serif;
}

a {
  color: #fffcfc;
  text-decoration: none;
  font-weight: 600;
}

/* global tags */

.container {
  margin: 20px auto;
  max-width: 1650px;
  padding: 1em;
}
