.searchBarContainer {
  width: 100%;
  height: 245px;
  position: relative;
}

.searchBarContainer img {
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.searchBarContainer div {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
}

.searchBarContent {
  margin: 10px 0;
}

.searchBarContent p{
  margin-bottom: 20px;
}

@media screen and (max-width: 980px) {
  .searchBarContent {
    font-size: 0.8em;
  }
}

@media screen and (max-width: 720px) {
  .searchBarContent {
    font-size: 0.7em;
  }

  .searchBarContainer div {
    width: 500px;
  }
}

@media screen and (max-width: 550px) {
  .searchBarContent {
    font-size: 0.7em;
  }

  .searchBarContainer div {
    width: 350px;
  }
}

@media screen and (max-width: 280px) {
  .searchBarContent {
    font-size: 0.7em;
  }

  .searchBarContainer div {
    width: 230px;
  }
}
