.booksList {
  display: flex;
  gap: 2em;
  flex-wrap: wrap;
}

.book {
  max-width: 350px;
}

.book p {
  font-weight: 600;
}

.catList {
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
}

.catList div {
  background: #5e5df0;
  border-radius: 9px;
  color: #ffffff;
  font-size: 12px;
  font-weight: 700;
  line-height: 24px;
  padding: 6px 10px;
  width: fit-content;
  word-break: break-word;
  border: 0;
}

.book img {
  height: 450px;
  width: 350px;
  object-fit: cover;
}
